<template>
  <v-card class="mx-auto my-5" max-width="450" :loading="loadingRegister">
    <v-card-title>
      <h1 class="display-1 text-center">
        Register
      </h1>
    </v-card-title>
    <v-divider />
    <v-card-text>
      <v-form @submit.prevent="signup">
        <v-text-field
          v-model="name"
          color="#edcb43"
          background-color="#242424"
          label="Username"
          :disabled="loadingRegister"
          solo
          :prepend-inner-icon="svgAccountCircle"
        />
        <v-text-field
          v-model="mail"
          label="E-mail"
          type="email"
          solo
          color="#edcb43"
          :disabled="loadingRegister"
          background-color="#242424"
          :prepend-inner-icon="svgAt"
        />
        <v-text-field
          v-model="password"
          color="#edcb43"
          background-color="#242424"
          :type="showPass ? 'text' : 'password'"
          :prepend-inner-icon="svgLock"
          solo
          :append-icon="showPass ? svgEye : svgEyeOff"
          label="Password"
          :disabled="loadingRegister"
          @click:append="showPass = !showPass"
        />
        <v-divider class="mb-3" />
        <v-btn
          text
          :disabled="loadingRegister"
          color="success"
          block
          type="submit"
        >
          Register
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";
import { mdiLock, mdiAt, mdiEyeOff, mdiEye, mdiAccountCircle } from "@mdi/js";

export default Vue.extend({
  data() {
    return {
      svgLock: mdiLock,
      svgAt: mdiAt,
      svgEyeOff: mdiEyeOff,
      svgEye: mdiEye,
      svgAccountCircle: mdiAccountCircle,
      showPass: false,
      name: "",
      mail: "",
      password: "",
      loadingRegister: false
    };
  },
  methods: {
    ...mapActions(["register"]),
    async signup() {
      this.loadingRegister = true;
      const user = {
        name: this.name,
        email: this.mail,
        password: this.password
      };
      await this.register(user);
      this.password = "";
      this.loadingRegister = false;
    }
  }
});
</script>
