<template>
  <v-container class="fluid my-5">
    <v-card class="my-5" v-for="(tag, name, idx) in tags" :key="idx">
      {{ name }}
      <v-slide-x-transition group>
      <v-chip
        v-for="t in tag"
        :key="t.t"
        pill
        small
        to="/tags#"
        class="ma-2"
      >
        {{ t.t }}

        <v-avatar tile class="blue-grey darken-4" right>
          {{ t.c }}
        </v-avatar>
      </v-chip>
      </v-slide-x-transition>
      <v-divider />
    </v-card>
  </v-container>
</template>

<script lang="ts">
import axios from "../../utils/axios-instance";
export default {
  components: {},
  data() {
    return {
      counter: 1,
      tags: {
        others: [],
        "A": [],
        "B": [],
        "C": [],
        "D": [],
        "E": [],
        "F": [],
        "G": [],
        "H": [],
        "I": [],
        "J": [],
        "K": [],
        "L": [],
        "M": [],
        "N": [],
        "O": [],
        "P": [],
        "Q": [],
        "R": [],
        "S": [],
        "T": [],
        "U": [],
        "V": [],
        "W": [],
        "X": [],
        "Y": [],
        "Z": []
      }
    };
  },


  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios
        .get("/tags")
        .then(resp => {
          const data = resp.data.yield;

          const re = new RegExp("[A-Za-z]");
          data.forEach(d => {
             let match = re.test(d.t[0])
            if (!match) {
              this.tags.others.push(d)
            } else {
              this.tags[d.t[0].toUpperCase()].push(d)
            }
          })

        })
        .catch(err => {
          console.log(err);
        });
    },

    indexAll(char: string, tag: string): boolean {
      return char.toUpperCase() === tag[0] || char.toLowerCase() === tag[0];
    }
  }
};
</script>
