<template>
  <footer>
    <p>
      Copyright 2019
      <span v-if="isAuth"
        >| <a href="mailto:formydemons@pm.me">formydemons@pm.me</a></span
      >
    </p>
    <!-- Note to myself: never try to setup a mail server again. -->
  </footer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
export default Vue.extend({
  computed: {
    ...mapGetters(["isAuth"])
  }
});
</script>
