<template>
      <v-hover v-slot:default="{ hover }" close-delay="400">
          <v-progress-linear
          stream
          buffer-value="60"
          :value="progressValue"
          :active="displayProgress"
          class="ma-0"
          style="z-index: 7;"
          top
          fixed
          :height="hover ? 24 : 4"
          color="#edcb43"
          >
          <span>{{ hover ? "Downloaded: 60% | Decrypted: 40%": "" }}</span>
          </v-progress-linear>
        </v-hover>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
    };
  },

  computed: {
    displayProgress() {
      return this.$store.getters.showProgress ;
    },

    progressValue() {
      return this.$store.getters.getProgressValue;
    }
  },
});
</script>
