<template>
  <v-container fluid>
    <v-row
      v-if="getCurrentUser.role.CanCreate"
      class="mt-5"
      justify="center"
      align="center"
    >
      <v-btn
        rounded
        color="#edcb43"
        class="black--text"
        @click="showUp = !showUp"
      >
        <v-icon left>{{ svgCloudUploadOutline }}</v-icon>
        Upload a new file
      </v-btn>
    </v-row>

    <v-slide-y-transition>
    <v-row v-show="showUp" class="mt-5" justify="center" align="center">
      <v-col cols="12">
        <v-row class="mt-5" justify="center" align="center">
          <v-col cols="12" xs="12" sm="10" md="8" lg="6" xl="6">
            <v-form ref="upform" v-model="valid">
              <v-text-field
                v-model="title"
                :disabled="uploading"
                required
                placeholder="Title*"
                :rules="inputTitleRules"
                solo
                color="#edcb43"
                background-color="#242424"
                :prepend-inner-icon="svgFormatText"
              />
              <v-textarea
                v-model="desc"
                :disabled="uploading"
                :rules="inputTextRules"
                solo
                color="#edcb43"
                label="Description"
                rows="3"
                :prepend-inner-icon="svgText"
              />
              <v-combobox
                v-model="tags"
                required
                :disabled="uploading"
                :rules="inputTagRules"
                counter="6"
                :prepend-inner-icon="svgTagMultipleOutline"
                append-icon=""
                solo
                hint="Press enter to confirm a tag. Double click to edit a tag.."
                placeholder="Tags*"
                chips
                item-color="#edcb43"
                multiple
                color="#edcb43"
              />
            </v-form>
          </v-col>
          <v-col
            cols="12"
            justify="center"
            align="center"
            class="mx-5"
            style="height: 100px;"
          >
            <v-fade-transition mode="out-in" origin="center center">
              <div v-if="!uploading">
                <input
                  id="file"
                  style="display: none"
                  class="inputfile inputfile-4"
                  accept="video/*"
                  type="file"
                  @change="newUpload($event.target.files[0])"
                />
                <v-btn
                  :disabled="!valid"
                  x-large
                  rounded
                  color="#edcb43"
                  icon
                  height="52"
                  width="32"
                >
                  <label for="file">
                    <v-icon x-large>{{ svgPaperclip }}</v-icon>
                  </label>
                </v-btn>
                <label :for="!valid ? '' : 'file'">
                  <p class="subheading" :class="{ 'text--disabled': !valid }">
                    Select a file
                  </p>
                </label>
              </div>

              <v-progress-linear
                v-else
                :buffer-value="md5progress"
                :value="progress"
                stream
                rounded
                color="#edcb43"
                height="16"
              ></v-progress-linear>
            </v-fade-transition>
          </v-col>
        </v-row>

        <v-row class="pb-5" justify="center" align="center">
          <v-col cols="12" xs="12" sm="8" md="6" lg="6" xl="6">
            <v-list v-if="filename" two-line color="#121212" flat class="mx-0">
              <v-list-item>
                <v-list-item-icon class="mr-5">
                  <v-icon color="#edcb43">{{ svgFileVideo }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Filename</v-list-item-title>
                  <v-list-item-subtitle>{{ filename }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider inset />
              <v-list-item v-if="md5">
                <v-list-item-icon class="mr-5">
                  <v-icon color="#edcb43">{{ svgPound }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>MD5</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ md5 }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider inset />
              <v-list-item v-if="status.text">
                <v-list-item-icon class="mr-5">
                  <v-icon :color="status.type">{{ status.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="text-capitalize">{{
                    status.type
                  }}</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ status.text }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider inset />
            </v-list>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    </v-slide-y-transition>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";
import {
  mdiCloudUploadOutline,
  mdiFormatText,
  mdiText,
  mdiTagMultipleOutline,
  mdiPaperclip,
  mdiFileVideo,
  mdiPound
} from "@mdi/js";

export default Vue.extend({
  data: () => {
    return {
      svgCloudUploadOutline: mdiCloudUploadOutline,
      svgFormatText: mdiFormatText,
      svgText: mdiText,
      svgTagMultipleOutline: mdiTagMultipleOutline,
      svgPaperclip: mdiPaperclip,
      svgFileVideo: mdiFileVideo,
      svgPound: mdiPound,
      showUp: false,
      valid: false,
      inputTitleRules: [
        v => (v && v.trim().length >= 3) || "Minimum length is 3 characters.",
        v => (v && v.trim().length <= 60) || "Maximum length is 60 characters."
      ],
      inputTextRules: [
        v =>
          v === "" ||
          (v && v.trim().length <= 10240) ||
          "Maximum length is 10240 characters."
      ],
      inputTagRules: [
        v => (v && v.length >= 3) || "3 tags at least.",
        v => (v && v.length <= 12) || "Maximum is 12 tags.",
        v => {
          v &&
            v.forEach((item, idx) => {
              let re = /[,"\\\/|{}!=<>.\[\]$^~`;´:@#%¨&*\_?\t\n\+\-()]+/gi;
              let temp = item.replace(re, "");
              temp = temp.trim();
              if (temp.length <= 1) {
                v.splice(idx, 1);
              } else {
                v[idx] = temp;
              }
            });

          return true;
        }
      ],
      title: "",
      desc: "",
      tags: []
    };
  },
  computed: {
    ...mapGetters([
      "status",
      "progress",
      "md5progress",
      "filename",
      "md5",
      "uploading",
      "getCurrentUser"
    ])
  },
  methods: {
    ...mapActions(["startUpload"]),

    newUpload(file: File) {
      if (!file) return;
      const info = { title: this.title, desc: this.desc, tags: this.tags };
      if (!this.valid) return;
      this.startUpload({ file, info });
    }
  }
});
</script>

<style>
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}
</style>
