<template>
    <v-row class="my-5 flex-child">
    <v-col
      v-for="video in getUserVideos"
      class="d-flex"
      :key="video.id"
      xs="12"
      sm="6"
      md="4"
      lg="3"
      xl="1"
    >
      <app-video
        :key="video.md5"
        :created="video.created"
        :file-m-d5="video.md5"
        :size="video.size"
        :blob-thumbnail="video.blob_thumb_link"
        :title="video.title"
        :username="video.username"
      ></app-video>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import { MediaVideo } from "@/types";
import Video from "../media/Video.vue";

export default Vue.extend({
  components: {
    appVideo: Video
  },

  computed: {
    getUserVideos: function(): Array<MediaVideo> {
      return this.$store.getters.getVideosByUserID(this.$route.params.id);
    }
  },

  watch: {
    "$route.params.id": function(_) {
      this.helperFetch();
    }
  },

  mounted: function() {
    this.helperFetch();
  },

  methods: {
    helperFetch() {
      this.$store.dispatch("fetchLatestUserVideos", {
        vm: this,
        userid: this.$route.params.id
      });
    }
  }
});
</script>
