<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    dense
    :items-per-page="256"
  >
  </v-data-table>
</template>
<script lang="ts">
import { LoggerServiceClient } from "../../proto/logger/LoggerServiceClientPb";
import { Void } from "../../proto/logger/logger_pb";
export default {
  data() {
    return {
      client: undefined,
      headers: [
        {
          text: "Level",
          align: "start",
          sortable: true,
          value: "level"
        },
        { text: "Service", value: "service" },
        { text: "User", value: "user" },
        { text: "Message", value: "msg" },
        { text: "Time stamp", value: "ts" },
        { text: "Caller", value: "caller" }
      ],
      desserts: []
    };
  },

  created() {
    this.client = new LoggerServiceClient(
      "https://log.formydemons.com",
      null,
      null
    );

    const vd = new Void();
    const call = this.client.streamLog(vd, {});

    call.on("data", data => {
      this.desserts.push(
        JSON.parse(String.fromCharCode.apply(String, data.toArray()[0]))
      );
    });

    call.on("status", status => {
      console.log("STATUS: ", status);
    });

    call.on("error", err => {
      console.log("ERROR: ", err);
    });

    call.on("end", () => {
      console.log("end");
    });
  },

  beforeDestroy() {
    this.client = undefined;
  }
};
</script>
