<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="Username"
    :loading="dataloading"
  >
    <template v-slot:top>
      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Edit user</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.id"
                    label="id"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.videos"
                    label="videos"
                    disabled
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.email"
                    label="Email"
                    color="#edcb43"
                    background-color="#242424"
                    disabled
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="editedItem.username"
                    label="Username"
                    color="#edcb43"
                    background-color="#242424"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    v-model="sel"
                    :items="AllRoles"
                    item-text="text"
                    item-value="value"
                    label="Roles"
                    color="#edcb43"
                    background-color="#242424"
                    @change="changeRole"
                  >
                  </v-select>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model.number="editedItem.remaining"
                    readonly
                    label="Download Remaining"
                    background-color="#242424"
                    color="#edcb43"
                    :append-outer-icon="mdiPlus"
                    :prepend-icon="mdiMinus"
                    @click:append-outer="editedItem.remaining++"
                    @click:prepend="
                      editedItem.remaining <= 0
                        ? editedItem.remaining
                        : editedItem.remaining--
                    "
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-checkbox
                    v-model="editedItem.banned"
                    :off-icon="mdiCheckboxBlankOutline"
                    :on-icon="mdiCheckboxMarkedOutline"
                    :indeterminate-icon="mdiMinusBox"
                    :label="`Ban: ${editedItem.banned.toString()}`"
                    color="red"
                    flat
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider />

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text :loading="loading" @click="save"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        {{ mdiPencil }}
      </v-icon>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import axios from "../../utils/axios-instance";
import { Role, GetAllRoles } from "@/utils/role";
import { StatusType } from "@/types";
import {
  mdiPencil,
  mdiCheckboxBlankOutline,
  mdiCheckboxMarkedOutline,
  mdiPlus,
  mdiMinus,
  mdiMinusBox
} from "@mdi/js";

export default {
  data: () => ({
    sel: 1,
    AllRoles: [],
    mdiPencil,
    mdiCheckboxBlankOutline,
    mdiCheckboxMarkedOutline,
    mdiPlus,
    mdiMinus,
    mdiMinusBox,
    loading: false,
    dataloading: true,
    dialog: false,

    headers: [
      {
        text: "ID",
        align: "start",
        value: "id"
      },
      { text: "Username", value: "username" },
      { text: "Email", value: "email" },
      { text: "Role", value: "role.GetRoleStr" },
      { text: "Videos", value: "videos" },
      { text: "Down_remain", value: "remaining" },
      { text: "Banned", value: "banned" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      username: "",
      videos: 0,
      role: 1,
      remaining: 0,
      banned: false
    },
    defaultItem: {
      id: 0,
      username: "",
      videos: 0,
      role: 1,
      remaining: 0,
      banned: false
    }
  }),

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    async initialize() {
      await axios
        .get("/admin/dashboard/user")
        .then(resp => {
          const des = resp.data.yield;
          des.forEach(d => {
            d.role = new Role(d.role);
            d.banned = d.deleted_at ? true : false;
            this.desserts.push(d);
          });
        })
        .catch(err => {
          console.log("DASHBOARD Errors: ", err);
        });
      this.AllRoles = GetAllRoles();
      this.dataloading = false;
    },

    changeRole(ev) {
      this.editedItem.role = new Role(ev);
    },

    editItem(item) {
      this.sel = item.role.GetRole;
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.sel = undefined;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      this.loading = true;
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }

      const data = {
        id: this.editedItem.id,
        role: this.editedItem.role.GetRole,
        banned: this.editedItem.banned,
        remaining: this.editedItem.remaining
      };

      axios
        .put("/admin/dashboard/user", data)
        .then(_ => {
          const notify = {
            text: "user successfully updated!",
            type: StatusType.success
          };
          this.$store.dispatch("snackbar", notify);
        })
        .catch(_ => {
          this.$store.dispatch("snackbarGenericError");
        });

      this.loading = false;

      this.close();
    }
  }
};
</script>
