<template>
  <app-preview
    :filename="getVideoById.filename"
    :title="getVideoById.title"
    :desc="getVideoById.desc"
    :tags="getVideoById.tags"
    :username="getVideoById.username"
    :user-i-d="getVideoById.user_id"
    :blob-screen="getVideoById.blob_screen_link"
    :blob-thumb="getVideoById.blob_thumb_link"
    :size="getVideoById.size"
    :created="getVideoById.created"
    :hash="getVideoById.md5"
  />
</template>

<script lang="ts">
import Vue from "vue";
import Preview from "../media/Preview.vue";
import {
  mdiFileVideo,
  mdiContentCopy,
  mdiFlash,
  mdiCalendar,
  mdiPound
} from "@mdi/js";
export default Vue.extend({
  components: { appPreview: Preview },
  data() {
    return {
      svgFileVideo: mdiFileVideo,
      svgPound: mdiPound,
      svgContentCopy: mdiContentCopy,
      svgFlash: mdiFlash,
      svgCalendar: mdiCalendar
    };
  },

  computed: {
    getVideoById: function() {
      return this.$store.getters.getVideoByID(this.$route.params.fileid);
    }
  },

  mounted: function() {
    this.$store.dispatch("fetchVideoByID", {
      vm: this,
      hash: this.$route.params.fileid
    });
  },
  methods: {
    hashCp: function() {
      console.log("Hash copied!");
    }
  }
});
</script>
