<template>
  <transition appear name="fade-transition">
  <v-card :elevation="16" style="max-width: 100%;" color="#242424" :link="true" :to="'/file/' + fileMD5">
    <v-img
      :src="blobThumbnail"
      transition="fade-transition"
      lazy-src="../../../public/assets/load.svg"
      style="width:100vh;"
    ></v-img>
    <v-card-title class="text-left text-truncate">
      <span class="d-inline-block text-truncate" style="max-width: 100%;">
        {{ title }}
      </span>
    </v-card-title>
    <v-card-subtitle>
      {{ username }}<br />{{ size | toHumanSize }} / {{ created | toHumanDate }}
    </v-card-subtitle>
  </v-card>
  </transition>
</template>

<script>
export default {
  data: () => {
    return {
    };
  },
  props: {
    title: { type: String, default: "loading..." },
    username: { type: String, default: "loading..." },
    fileMD5: { type: String, required: true },
    blobThumbnail: { type: String },
    created: { type: String, default: "" },
    size: { type: Number, default: 0 }
  },
};
</script>

<style>
.v-image__image--preload {
  filter: blur(0px) !important;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active{
  transition: opacity 1s;
}
.fade-leave{

}
.fade-leave-active{
  transition: opacity 1s;
  opacity: 0

}

.slide-move {
  transition: transform 1s;
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}

.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
</style>
