<template>
  <v-app>
    <app-navbar />
    <app-progress />
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-content>
    <app-snack />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Navbar from "./components/Navbar.vue";
import Snackbar from "./components/SnackBar.vue";
import ProgressBar from "./components/ProgressBar.vue";
export default Vue.extend({
  name: "App",

  components: {
    appNavbar: Navbar,
    appSnack: Snackbar,
    appProgress: ProgressBar
    //appFooter: Footer
  },
});
</script>

<style>

.slide-enter {
  opacity: 0
}

.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity .5s;
}
.slide-leave {

}
.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
}

.slide-move {
  transition: transform 1s;
}

@keyframes slide-in {
  from {
    transform: translateX(-200px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from{
    transform: translateY(0);
  }
  to {
    transform: translateX(200px);
  }
}

</style>
