<template>
  <app-file-page />
</template>

<script lang="ts">
import Vue from "vue";
import FilePage from "../components/file/FilePage.vue";
export default Vue.extend({
  components: {
    appFilePage: FilePage
  }
});
</script>
