<template>
  <main-feed />
</template>

<script>
// @ is an alias to /src
import MainFeed from "@/components/Home/MainFeed.vue";
//import Sidebar from '@/components/Home/Sidebar.vue'

export default {
  name: "Home",
  components: {
    MainFeed
    //    Sidebar
  }
};
</script>
