<template>
  <app-register />
</template>

<script lang="ts">
import Vue from "vue";
import Register from "../components/Auth/Register.vue";
export default Vue.extend({
  components: {
    appRegister: Register
  }
});
</script>
